html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    background: url(https://cdn.wallpaperdirect.com/shared-assets/images/products/082233full.jpg);
    background-size: 10vw;
}

.demo {
    height: 100vh;
    width: 92vw;
    padding: 0 4vw;
    overflow: auto;
    scrollbar-width: thin;
}

.boton {
    position: absolute;
    border: 1px solid;
    font-size: 20px;
    padding: 5px;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    text-align: center;
    background: white;
}


.boton:hover {
    background: rgb(0, 225, 255);
}

.boton__salir {
    top: 10px;
    left: 10px;
}

.boton__salir:visited,
.boton__salir:link {
    color: black;
}

.boton__info {
    top: 50px;
    left: 10px;
}

.titulo-general {
    height: 10vh;
    font-size: 10vh;
    text-align: center;
    font-family: 'Gochi Hand', monospace;
    border-bottom: 10px double red;
    border-radius: 50px;
}

.contenido-general {
    border-radius: 20px;
    padding: 20px;
}

.post {
    border-radius: 20px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 10vw auto;
    grid-template-rows: 10vh 17vh auto;
    width: 85vw;
    margin: 1vh auto;
    min-height: 35vh;
    background: rgba(255, 255, 255, 0.5);
}

.post__autor {
    grid-column: 1;
    grid-row: 3;
    margin: 10px auto auto auto;
}

.post__imagen-autor {
    border-radius: 20px;
    overflow: hidden;
    width: 8vw;
    height: 25vh;
    margin: 1vh auto;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    border: 1px dotted;
}

.x__imagen-autor-interno {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.post__cabecera {
    grid-column: 2;
    display: flex;
    border-bottom: 2px solid black;
}

.cabecera__titulo {
    font-size: 30px;
    margin: auto 0;
}

.cabecera__fecha {
    font-size: 15px;
    margin: auto 25px auto auto;
}

.post__contenido {
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    display: flex;
}

.post__contenido-interno {
    margin: auto 0;
    height: auto;
    padding-bottom: 10px;
}

.post__comentarios {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.comentario {
    width: 70vw;
    margin: 5px 50px 5px auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 6vw auto;
    grid-template-rows: 5vh auto;
    border-radius: 20px;
}

.comentario__imagen-autor {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 13vh;
    width: 5vw;
    margin: 0.5vh 0.5vw;
    border: 1px dotted black;
    border-radius: 20px;
    overflow: hidden;
}

.comentario__cabecera {
    grid-column: 2;
    grid-row: 1;
    display: flex;
}

.comentario__autor {
    margin: auto 0;
}

.comentario__fecha {
    margin: auto 25px auto auto;
    font-style: italic;
}

.comentario__contenido {
    grid-column: 2;
    grid-row: 2;
}