.raiz {
    background: white;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
}

.raiz__titulo {
    line-height: 30px;
    border-bottom: 1px solid;
    padding: 0 10px;
    display: flex;
}

.raiz__texto {
    margin-right: auto;
}

.raiz__equis {
    color: red;
}

.raiz__contenido {
    padding-left: 10px;
}

.registro {
    line-height: 30px;
    font-size: 15px;
}

.registro__id {
    color: red;
}
