.raiz {
    background: white;
    border: 1px solid black;
    margin-bottom: 5vh;
    border-radius: 10px;
    overflow: hidden;
}

.raiz__titulo {
    line-height: 30px;
    border-bottom: 1px solid;
    padding: 0 10px;
    display: flex;
}

.raiz__texto {
    margin-right: auto;
    font-size: 20px;
}

.raiz__equis {
    color: red;
}

.raiz__equis--oculta {
    opacity: 0;
}

.raiz_desplegable--oculto {
    opacity: 0;
}

.raiz__contenido {
    padding-left: 10px;
}

.registro {
    line-height: 30px;
    font-size: 15px;
    margin: 15px 0;
}

.registro__cabecera {
    display: flex;
    line-height: 25px;
}

.registro__id {
    color: white;
    background: red;
    padding: 1px 5px;
    border-radius: 5px;
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

.registro__editar {
    margin-left: auto;
    color: white;
    background: green;
    padding: 0 15px;
    border-radius: 5px;
}

.registro__eliminar {
    margin: 0 5px;
    color: white;
    background: red;
    padding: 0 15px;
    border-radius: 5px;
}

.registro__atributos {
    margin: 0 0 0 10px;
    width: 78vw;
}

.registro__centrar-externo {
    height: 3em;
    display: flex;
}

.registro__centrar-interno {
    margin: auto;
    font-size: 20px;
}

.registro__agregar {
    color: green;
}

.atributo {
    width: 80vw;
}

.atributo:nth-child(2n) {
    background: rgba(0, 0, 0, 0.1);
}

.modal .atributo:nth-child(2n) {
    background: white;
}

.atributo__titulo {
    padding: 1px 5px;
    border-radius: 5px;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    border-left: 2px solid blue;
    width: 15vw;
    max-width: 15vw;
    overflow: hidden;
}

.atributo__valor {
    padding-left: 10px;
}

.atributo__titulo_edicion {
    width: 15vw;
    resize: vertical;
    height: 1em;
    max-height: 60vh;
}

.atributo__edicion {
    width: 40vw;
    resize: vertical;
    height: 2em;
    max-height: 60vh;
}

.atributo__agregar {
    font-size: 30px;
    color: green;
    padding-top: 15px;
}

.atributo__eliminacion {
    font-size: 30px;
    color: red;
}

.atributo__repetido {
    background: red;
}