.raiz {
    background: white;
    border: 1px solid black;
    margin-bottom: 5vh;
    border-radius: 10px;
}

.raiz__titulo {
    line-height: 30px;
    border-bottom: 1px solid;
    padding: 0 10px;
    display: flex;
}

.raiz__texto {
    margin-right: auto;
}

.raiz__equis {
    color: red;
}

.raiz__equis--oculta {
    opacity: 0;
}

.raiz__contenido {
    padding-left: 10px;
}

.registro {
    line-height: 30px;
    font-size: 15px;
    margin: 15px 0;
}

.registro__cabecera {
    display: flex;
    line-height: 25px;
}

.registro__id {
    color: white;
    background: red;
    padding: 1px 5px;
    border-radius: 5px;
    font-family: Ubuntu, "times new roman", times, roman, serif;
}

.registro__editar {
    margin-left: auto;
    color: white;
    background: green;
    padding: 0 5px;
    border-radius: 5px;
}

.registro__eliminar {
    margin: 0 5px;
    color: white;
    background: red;
    padding: 0 15px;
    border-radius: 5px;
}

.registro__atributos {
    margin: 0 0 0 10px;
}

.registro__centrar-externo {
    height: 3em;
    display: flex;
}

.registro__centrar-interno {
    margin: auto;
    font-size: 20px;
}

.registro__agregar {
    color: green;
}

.atributo__titulo {
    padding: 1px 5px;
    border-radius: 5px;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    border-left: 2px solid blue;
}

.atributo__valor {
    padding-left: 10px;
}

.atributo__titulo_edicion {
    width: 15vw;
    resize: vertical;
    height: 1em;
    max-height: 60vh;
}

.atributo__edicion {
    width: 40vw;
    resize: vertical;
    height: 2em;
    max-height: 60vh;
}

.atributo__agregar {
    font-size: 30px;
    color: green;
    padding-top: 15px;
}

.atributo__eliminacion {
    font-size: 30px;
    color: red;
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: flex;
    vertical-align: middle;
    text-align: center;
}

.modal__contenedor {
    position: relative;
    margin: auto;
}

.modal__contenido {
    background: white;
    padding: 15px;
    border-radius: 10px;
    overflow: auto;
    max-width: 90vw;
    max-height: 70vh;
    scrollbar-width: thin;
}

.modal__equis {
    color: white;
    background: red;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-family: Ubuntu, "times new roman", times, roman, serif;
    border-radius: 30px;
    font-size: 25px;
    position: absolute;
    top: -40px;
    right: -40px;
}

.modal__boton-guardar {
    background: #00c0ff;
    position: absolute;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.modal__contenido .atributo__titulo {
    padding: 25px;
    border-bottom: 2px solid blue;
    border-left: 0px;
}

.modal__contenido .atributo__valor {
    padding: 25px;
    border-bottom: 2px solid red;
    border-radius: 5px;
}

.notificacion {
    z-index: 10;
    position: absolute;
    color: white;
    right: 0;
    bottom: 5vh;
    border-radius: 10px 0 0 10px;
    border: 1px solid white;
    border-right: none;
    animation: notificacion_aparecer 6s both ease-in-out;
}

.notificacion--conseguido {
    background: green;
}

.notificacion--error {
    background: red;
}

.notificacion--info {
    background: #48d2ff;
}

.notificacion__contenido {
    padding: 15px;
    position: relative;
}

.notificacion__barra {
    position: absolute;
    bottom: 0;
    left: 3px;
    height: 3px;
    background: white;
    border-radius: 0 30px 30px 30px;
    width: 105%;
    animation: barra_cd 5s both linear;
}

@keyframes notificacion_aparecer {
    0% {
        transform: translate(100%);
    }

    10% {
        transform: translate(0);
    }

    90% {
        transform: translate(0);
    }

    100% {
        transform: translate(100%);
    }
}

@keyframes barra_cd {
    0% {
        width: 105%;
        height: 3px;
    }

    99% {
        width: 0%;
        height: 3px;
    }

    100% {
        width: 0;
        height: 0;
    }
}