.fondo {
	position: absolute;
	width: 93%;
	height: 99%;
	z-index: 0;
	filter: blur(0.5px);
	overflow: hidden;
	transform: skewY(10deg)rotate(-18deg);
	top: -13%;
	left: 2%;
	font-family: Ubuntu, "times new roman", times, roman, serif;
	border-bottom: 1px solid;
	border-left: 1px solid;
	padding-left: 2%;
	user-select: none;
	opacity: 0.7;
}

.fondo--oscuro {
    color: lime;
}