.tabla-raices {
    width: 100%;
    padding: 10px;
}

.tabla-raices__cabecera {
    font-size: 30px;
    border-bottom: 1px solid;
}

.tabla-raices__contenido {
    font-size: 20px;
}
.tabla-raices__contenedor-iconos {
	display: flex;
}
/*TODO JUNTAR ESTOS BOTONES CON LOS DE ADMIN REGISTROS*/
.tabla-raices__editar {
	color: white;
	background: green;
	display: flex;
	padding: 5px 2px;
	border-radius: 10px;
	width: 48%;
	margin-right: 1%;
}

.tabla-raices__borrar {
    color: white;
    background: red;
    display: flex;
    padding: 5px 2px;
    border-radius: 10px;
	width: 48%;
	margin-left: 1%;
}

.tabla-raices__icono {
    margin: auto;
}