.titulo {
    height: 20vh;
    color: white
}

.titulo--oscuro {
    color: black
}

.titulo__superior {
    display: flex;
    height: 10vh;
    line-height: 70px;
}

.titulo__inferior {
    height: 10vh;
}

.hechix {
    text-align: center;
    font-family: 'Gochi Hand', monospace;
    font-size: 70px;
    margin-left: auto;
    margin-right: 3%;
}

.python {
    text-align: center;
    font-family: 'Montserrat', monospace;
    font-size: 70px;
    margin-right: auto;
}

.rest-api {
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-style: italic;
    font-size: 70px;
}

.cuerpo {
    height: 60vh;
    display: flex;
}